/* Style resets */
* {
padding: 0;
margin: 0;
font-size: 32px;
}

a {
    text-decoration: none;
}

body {
    background: lightblue;
}

nav {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin: 15px;
}


.banner {
    height: 100vh;
    padding: 10rem;
}

.banner .content {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: red;
    /* padding: 12px; */
    /* gap: 10rem; */
    font-size: 16px;

}

.banner .content h1 {

}

.bigheading {
    font-size: 2rem;
}

.banner .content p {
    /* margin-top: 24px; */
    background: green;
    margin: 12px 0;
    padding: 12px;

}